# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

indent_style = tab

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning

# IDE0042: Deconstruct variable declaration
csharp_style_deconstructed_variable_declaration = false

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# RS0030: Do not used banned APIs
dotnet_diagnostic.RS0030.severity = error