@using System
@using System.Diagnostics
@using Console = Website.Console<Website.Games.Flappy_Bird.Flappy_Bird>

@page "/Flappy Bird"

<PageTitle>Flappy Bird</PageTitle>

<h1>Flappy Bird</h1>

<div class="console-window text-center my-3">
	<div class="d-inline-block bg-dark text-light border rounded p-2 text-start shadow">
		<pre style="white-space:pre">
			<code>@Console.State</code>
		</pre>
	</div>
	<div>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo(' ', ConsoleKey.Spacebar, false, false, false)); }">Spacebar</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\n', ConsoleKey.Enter, false, false, false)); }">Enter</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.Escape, false, false, false)); }">Escape</button>
	</div>
</div>

@code
{
	protected override void OnInitialized()
	{
		Console._refresh = StateHasChanged;
		InvokeAsync(Games.Flappy_Bird.Flappy_Bird.Run);
	}
}
