@using System
@using System.Diagnostics
@using Console = Website.Console<Website.Games.Helicopter.Helicopter>

@page "/Helicopter"

<PageTitle>Helicopter</PageTitle>

<h1>Helicopter</h1>

<a href="https://github.com/ZacharyPatten/dotnet-console-games/tree/main/Projects/Helicopter" alt="Go To Readme">
	<img title="Go To Readme" alt="Go To Readme" src="https://img.shields.io/badge/readme-black?logo=github&amp&style=flat-square">
</a>

<div class="console-window text-center my-3" @onkeydown="@Console.OnKeyDown" tabindex="0">
	<div class="d-inline-block bg-dark text-light border p-2 text-start shadow padding-0">
		<pre class="console">
			<code>@Console.State</code>
		</pre>
	</div>
	<div>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.UpArrow,    false, false, false)); }">↑</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.DownArrow,  false, false, false)); }">↓</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.RightArrow, false, false, false)); }">→</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\n', ConsoleKey.Enter,      false, false, false)); }">enter</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.Escape,     false, false, false)); }">escape</button>
	</div>
</div>

<div class="alert alert-secondary" role="alert">
	&#9000; Keyboard input is supported if you <strong>click</strong> on the game.
</div>

@code
{
	protected override void OnInitialized()
	{
		if (!Console._initialized)
		{
			Console._refresh = StateHasChanged;
			InvokeAsync(Games.Helicopter.Helicopter.Run);
			Console._initialized = true;
		}
	}
}
