@page "/"

<PageTitle>dotnet-console-games</PageTitle>

<img src="https://github.com/ZacharyPatten/dotnet-console-games/blob/main/.github/resources/banner1.png?raw=true" style="width: 100%; max-width: 600px;" />

<h1>dotnet-console-games</h1>

<div class="source-code-badge">
	<a href="https://github.com/ZacharyPatten/dotnet-console-games" alt="Go To Source Code">
		<img title="Go To Source Code" alt="Go To Source Code" src="https://raw.githubusercontent.com/ZacharyPatten/dotnet-console-games/main/.github/resources/github-repo-black.svg">
	</a>
</div>

<p>
	A collection of game examples implemented as .NET console applications primarily for providing education and inspiration. All
	of the games are open source. :)
</p>

<p>
	Use the navigation bar to select and play a game!
</p>

<div class="alert alert-secondary" role="alert">
	&#128173; <strong>Recommendation:</strong> Use these game examples for learning. Play the games, pick a game you like, and try to code the game yourself from scratch. If you ever get stuck, just refer to the working example.
</div>

<div class="alert alert-warning" role="alert">
	&#9888; For the best experience download and run the games locally.
</div>
