@page "/"
<PageTitle>dotnet-console-games</PageTitle>
<h1>dotnet-console-games</h1>
<div class="source-code-badge">
	<a href="https://github.com/ZacharyPatten/dotnet-console-games" alt="Go To Source Code">
		<img title="Go To Source Code" alt="Go To Source Code" src="https://img.shields.io/badge/source-code-black?logo=github&amp;style=flat">
	</a>
</div>
<p>
	<strong>This website is still an experimental work in progress. For the best experience you should play the console games locally.</strong>
</p>
<p>
	Use the nav bar to select and play a game!
</p>

<div class="alert alert-warning" role="alert">
	&#128119; This website is a work in progress. For the best experience download and run the games locally. &#128679;
</div>