@using System
@using System.Diagnostics
@using Console = Website.Console<Website.Games.Quick_Draw.Quick_Draw>

@page "/Quick Draw"

<PageTitle>Quick Draw</PageTitle>

<h1>Quick Draw</h1>

<div class="console-window text-center my-3" @onkeydown="@Console.OnKeyDown">
	<div class="d-inline-block bg-dark text-light border rounded p-2 text-start shadow">
		<pre class="console">
			<code>@Console.State</code>
		</pre>
	</div>
	<div>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('1', ConsoleKey.D1, false, false, false)); }">1</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('2', ConsoleKey.D2, false, false, false)); }">2</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('3', ConsoleKey.D3, false, false, false)); }">3</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('4', ConsoleKey.D4, false, false, false)); }">4</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo(' ', ConsoleKey.Spacebar, false, false, false)); }">Spacebar</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\n', ConsoleKey.Enter, false, false, false)); }">Enter</button>
		<button class="btn btn-primary" @onclick="() => { Console._inputBuffer.Enqueue(new ConsoleKeyInfo('\0', ConsoleKey.Escape, false, false, false)); }">Escape</button>
	</div>
</div>

@code
{
	protected override void OnInitialized()
	{
		Console._refresh = StateHasChanged;
		InvokeAsync(Games.Quick_Draw.Quick_Draw.Run);
	}
}
