@using System

@page "/Rock Paper Scissors"

<PageTitle>Rock Paper Scissors</PageTitle>

<h1>Rock&nbsp;Paper&nbsp;Scissors</h1>

<a href="https://github.com/ZacharyPatten/dotnet-console-games/tree/main/Projects/Rock%20Paper%20Scissors" alt="Go To Readme">
	<img title="Go To Readme" alt="Go To Readme" src="https://raw.githubusercontent.com/ZacharyPatten/dotnet-console-games/main/.github/resources/readme-black.svg">
</a>

<div class="console-window text-center my-3" @onkeydown="@Console.OnKeyDown" tabindex="0">
	<div class="d-inline-block bg-dark text-light border p-2 text-start shadow padding-0">
		<pre class="console">
			<code>@Console.State</code>
		</pre>
	</div>
	<div>
		<button class="btn btn-primary" @onclick="() => Console.EnqueueInput(ConsoleKey.R)    ">r</button>
		<button class="btn btn-primary" @onclick="() => Console.EnqueueInput(ConsoleKey.P)    ">p</button>
		<button class="btn btn-primary" @onclick="() => Console.EnqueueInput(ConsoleKey.S)    ">s</button>
		<button class="btn btn-primary" @onclick="() => Console.EnqueueInput(ConsoleKey.Enter)">enter</button>
		<button class="btn btn-primary" @onclick="() => Console.EnqueueInput(ConsoleKey.E)    ">e</button>
	</div>
</div>

<div class="alert alert-secondary" role="alert">
	&#9000; Keyboard input is supported if you <strong>click</strong> on the game.
</div>

<div class="alert alert-secondary" role="alert">
	&#8635; You can restart the game by <strong>refreshing</strong> the page.
</div>

@code
{
	Games.Rock_Paper_Scissors.Rock_Paper_Scissors Game;
	BlazorConsole Console;

	public Rock_Paper_Scissors()
	{
		Game = new();
		Console = Game.Console;
		//Console.WindowWidth = PLACEHOLDER;
		//Console.WindowHeight = PLACEHOLDER;
		Console.StateHasChanged = StateHasChanged;
	}

	protected override void OnInitialized() => InvokeAsync(Game.Run);
}
