@page "/"
<PageTitle>dotnet-blazor-games</PageTitle>
<h1>dotnet-blazor-games</h1>
<div class="source-code-badge">
	<a href="https://github.com/ZacharyPatten/dotnet-blazor-games" alt="Go To Source Code">
		<img title="Go To Source Code" alt="Go To Source Code" src="https://img.shields.io/badge/source-code-black?logo=github&amp;style=flat">
	</a>
</div>
<p>
	Use the nav bar to select and play a game!
</p>
