name: Maze Build
on:
  push:
    paths:
    - 'Projects/Maze/**'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Build with dotnet
      run: dotnet build "Projects\Maze\Maze.csproj" --configuration Release
