name: Quick Draw Build
on:
  push:
    paths:
    - 'Projects/Quick Draw/**'
  pull_request:
    paths:
    - 'Projects/Quick Draw/**'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: dotnet build
      run: dotnet build "Projects\Quick Draw\Quick Draw.csproj" --configuration Release
