name: Roll And Move Build
on:
  push:
    paths:
    - 'Projects/Roll And Move/**'
    - '!**.md'
  pull_request:
    paths:
    - 'Projects/Roll And Move/**'
    - '!**.md'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - run: dotnet build "Projects\Roll And Move\Roll And Move.csproj" --configuration Release
