name: Tic Tac Toe Build

on:
  push:
    paths:
    - 'Projects/Tic Tac Toe/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build "Projects\Tic Tac Toe\Tic Tac Toe.csproj" --configuration Release
